* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Georgia, "Times New Roman", Times, serif;
}

nav {
	height: 60px;
	line-height: 60px;
	text-align: center;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.burger-icon {
	display: block;
	margin-left: auto;
	padding: 0 30px;
	line-height: 60px;
	font-size: 30px;
	background: none;
	border: none;
	cursor: pointer;
}

.nav-items {
	display: none;
}

.nav-items a {
	padding: 0 30px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	color: #333;
	transition: color 0.3s;
}

.nav-items a:hover {
	color: gold;
}

.nav-items .light {
	color: gold;
}

/* header */

.header {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: url("../img/people-small.jpg");
	height: 350px;
	width: 500px;
	background-repeat: no-repeat;
	background-position: center;
}

.hero-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
}

.hero-text {
	position: absolute;
	top: 50%;
	left: 90%;
	transform: translate(-50%, -50%);
	color: white;
}

.hero-text h1 span {
	color: yellow;
	font-size: 46px;
	letter-spacing: 10px;
}

.hero-text p {
	color: white;
	text-decoration: solid;
	font-size: 23px;
}

.bookToday {
	position: absolute;
	border: 2px solid black;
	color: black;
	background-color: white;
	padding: 5px 15px;
	cursor: pointer;
	transition: 0.5s;
}

.bookToday:hover {
	background-color: gray;
}

.background-pictrue {
	position: relative;
	background-image: url(../img/gory-mniejszy.jpg);
	height: 100vh;
	background-size: cover;
}

/* Main */

main {
	margin: 200px 0;
}

.text {
	position: relative;
	top: 350px;
	left: 25px;
	color: white;
	width: 250px;
	font-size: 25px;
	border: 2px solid green;
	background-color: green;
	text-align: center;
	vertical-align: baseline;
	cursor: pointer;
}

.text p span {
	font-weight: bold;
	font-size: 40px;
}

.text p {
	font-size: 20px;
}

.first-section-title {
	position: relative;
	font-size: 40px;
	margin-left: 150px;
	text-transform: uppercase;
	color: black;
	font-family: lulo-clean-w01-one-bold, sans-serif;
}

.first-section-title div {
	text-decoration: underline 12px;
	text-decoration-color: yellow;
}

.image {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.left-image {
	position: relative;
	left: -350px;
	top: 100px;
	height: 400px;
	width: 300px;
	background-image: url(../img/left-pic.jpg);
	background-position: center;
}

.center-image {
	position: relative;
	left: 0px;
	top: -300px;
	height: 400px;
	width: 300px;
	background-image: url(../img/boat-4899802_640.jpg);
	background-position: center;
}

.right-image {
	position: relative;
	left: 350px;
	top: -700px;
	height: 400px;
	width: 300px;
	background-image: url(../img/madagascar-4601292_640.jpg);
	background-position: center;
}

.step1 {
	position: relative;
	background-image: url("../img/STEP1.webp");
	width: 230px;
	height: 100px;
	top: 370px;
	left: 40px;
}

.step1 div p {
	position: relative;
	top: 100px;
	letter-spacing: 1px;
	text-align: center;
}

.step2 {
	position: relative;
	background-image: url(../img/STEP2.webp);
	width: 230px;
	height: 100px;
	top: 370px;
	left: 40px;
}

.step2 div p {
	position: relative;
	top: 100px;
	letter-spacing: 1px;
	text-align: center;
}

.step3 {
	position: relative;
	background-image: url(../img/STEP3.webp);
	width: 220px;
	height: 100px;
	top: 370px;
	left: 40px;
}

.step3 div p {
	position: relative;
	top: 100px;
	letter-spacing: 1px;
	text-align: center;
}

.button {
	width: 100%;
	margin: 0 auto;
	max-width: 1200px;
	color: green;
	border: 4px solid green;
	width: 250px;
	height: 50px;
	text-align: center;
	padding: 10px 20px;
	font-size: 18px;
	cursor: pointer;
	transition: 0.5s;
}

.left-button {
	position: relative;
	left: -160px;
	top: -440px;
}

.right-button {
	position: relative;
	top: -490px;
	left: 180px;
}

.button:hover {
	background-color: gold;
	color: white;
	border: 4px solid gold;
}

.background-pic {
	position: relative;
	background-image: url(../img/maldives-1993704_640.jpg);
	height: 100vh;
	background-size: cover;
	background-attachment: fixed;
	top: -350px;
}

.title-image {
	position: absolute;
	background-image: url("../img/HEYOUTDOORLOVER.webp");
	width: 300px;
	height: 200px;
	top: 50%;
	background-position: center;
}

.h3-text {
	position: relative;
	top: 270px;
	left: 10px;
	font-style: bold;
	font-size: 20px;
}
.arika-text {
	position: relative;
	top: 300px;
	left: 10px;
	color: white;
	font-size: 20px;
	background-color: rgb(var(--color_11));
	font-family: wf_bd49f2cdc34249dbb14bcbb00, orig_rubik_light;
}

.h3-second-text {
	position: relative;
	top: 320px;
	left: 10px;
	font-style: bold;
	font-size: 20px;
}

button {
	position: relative;
	width: 250px;
	height: 50px;
	top: 400px;
	left: 10px;
	cursor: pointer;
	color: white;
	font-size: 17px;
	background-color: gold;
	transition: 0.5s;
}

button:hover {
	background-color: gray;
}

.facebook {
	position: relative;
	top: 420px;
	left: 20px;
	font-size: 20px;
}

.instagram {
	position: relative;
	top: 397px;
	left: 50px;
	font-size: 22px;
}

.twitter {
	position: relative;
	top: 373px;
	left: 83px;
	font-size: 21px;
}

.green-square {
	position: relative;
	height: 800px;
	width: 600px;
	border: 6px solid green;
	top: 0%;
	left: -70%;
	transform: translate(-50%, -50%);
}

.background-color {
    position: relative;
    
		background-color: whitesmoke;
		height: 100vh;
		background-size: cover;
		background-attachment: fixed;
        top: -350px;

}

.square div span p {
    font-size: 55px;
    color: white;
}

.square div {
    font-size: 20px;
    color: white;
}












@media (min-width: 768px) {
	.burger-icon {
		display: none;
	}

	.nav-items {
		display: block;
	}

	.header {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 500px;
		width: 800px;
		background-image: url("../img/people-big.jpg");
	}
	.hero-text h1 {
		font-size: 36px;
	}

	.background-pictrue {
		position: relative;
		background-image: url(../img/gory-wiekszy.jpg);
		height: 100vh;
		background-size: cover;
		background-attachment: fixed;
	}

	.hero p {
		font-size: 18px;
	}

	.background-pic {
		position: relative;
		background-image: url(../img/maldives-1993704_1920.jpg);
		background-size: cover;
		height: 100vh;
		top: -350px;
		background-attachment: fixed;
	}

	.pictrue-on-sea {
		position: absolute;
		top: 50%;
		left: 30%;
		transform: translate(-50%, -50%);
		width: 600px;
		height: 800px;
		background-image: url("../img/summer-2337955_1280.jpg");
	}

	.title-image {
		position: relative;
		top: -40px;
		left: 600px;
		background-image: url("../img/HEYOUTDOORLOVER.webp");
		width: 500px;
		height: 300px;
	}

	.section3-pictrue {
		position: absolute;
		background-image: url(../img/father-656734_1280.jpg);
		width: 700px;
		height: 500px;
		top: 40%;
		left: 60%;
		transform: translate(-50%, -50%);
		background-position: center;
	}

    .whats-clients-are-saying {
		position: relative;
		background-image: url("../img/WHATSAYING.webp");
        height: 220px;
        width: 400px;
        top: 290px;
        left: -380px;
    }

	.quote {
		position: relative;
		font-size: 80px;
		top: -270px;
		left: 500px;
		color: gold;
	}

    .square{
        position: relative;
        width: 500px;
        height: 120px;
        border: 3px solid rgb(4, 46, 4);
        top: 85%;
        left: 40%;
        transform: translate(-50%, -50%);
        text-align: center;
        background-color: green;
    }

    .follow-me {
        position: relative;
        background-image: url("../img/follow\ me.jpg");
        width: 500px;
        height: 140px;
        top: 33%;
        left: -10%;
        transform: translate(-50%, -50%);
        

    }
}

